*

!/.gitignore
!/.gitattributes
!/.gitmodules

!/mruby
!/mruby/
!/mruby/**

!/LICENSE
!/README.md

!/.editorconfig

!/Dockerfile

!/guest_scripts/
!/guest_scripts/rake.sh

!/host_scripts/
!/host_scripts/build_image.ps1
!/host_scripts/rake.ps1
!/host_scripts/shell.ps1

!/build_config.rb
!/build_config.rb.lock
